<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center align-items-center">
            <div class="col-md-auto text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="https://github.com/Matheuskempa">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-auto text-center">
                <form action="https://rssfeedpulse.com/campaign/e2b5e042-f99d-4ed0-9a82-2bf74543e2b7/subscribe" method="get" class="d-inline-block newsletter-form">
                    <input type="email" name="email" placeholder="Your email" required class="newsletter-input">
                    <button type="submit" class="btn-newsletter">Get updates</button>
                </form>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/../assets/js/scripts.js"></script>
